<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
  	<settings>
  	<!-- mybatis에서 NULL 값을 받을 수 있게 설정 -->
  		<setting name="jdbcTypeForNull" value="NULL"/>
  	<!-- DB 통신중 타임아웃 에러 발생하기 까지 대기하는 시간 설정 -->
  		<setting name="defaultStatementTimeout" value="3000"/>
  	</settings>
  	<!-- typeAliases는 mapper에서 사용할 때 간편하게 부르기 위해 설정 해주는 것  --> 
 	<typeAliases>
  		<typeAlias type="net.ddns.jealth.model.UserVO" alias="user"/>
  	</typeAliases>
  </configuration>