/* 드래그 허용 */ 
.draggableText {
  -webkit-user-select:text;
  -moz-user-select:text;
  -ms-user-select:text;
  user-select:text
}


.draggableAll {
  -webkit-user-select:all;
  -moz-user-select:all;
  -ms-user-select:all;
  user-select:all
}
/* 끝 */

:root{
    --calendar-date-width : calc((100vw / 7) -30);
    --font_color1 : #707070;
  }
  * {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
  }
  body{ /* 드래그 금지 */
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  .calendar_wrap {
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    max-width: 400px;
    padding: 10px 0px;
    border-top: 2px solid var(--font_color1);
    border-bottom: 2px solid var(--font_color1);
  }
  .calendar {
    width: 100vw;
    padding: 0px 20px 0px 20px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .main{
    height: 250px;

  }
  .year-month {
    margin-left: 10px;
    font-size: 1.15rem;
    font-weight: 900;
  }
  .nav {
    display: flex;
    border: 1px solid var(--font_color1);
  }
  .nav-btn {
    width: 28px;
    height: 30px;
    border: none;
    font-size: 16px;
    line-height: 30px;
    background-color: transparent;
    cursor: pointer;
    font-weight: 900;
  }
  .go-today {
    width: 75px;
    border-left: 1px solid var(--font_color1);
    border-right: 1px solid var(--font_color1); 
  }
  .days {
    display: flex;
    margin: 10px 0px;
  }
  .day {
    width: calc(100% / 7);
    text-align: center;
  }
  .dates {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
  }
  .date {
    width: calc(100% / 7);
    height: 35px;
    padding: 0px 15px;
    text-align: center;
    line-height: 30px;
  }
  .date:hover{
      cursor: pointer;
  }
  .day:nth-child(7n + 1),
  .date:nth-child(7n + 1) {
    color: #D13E3E;
  }
  .day:nth-child(7n),
  .date:nth-child(7n) {
    color: #396EE2;
  }
  .other {
    opacity: .3;
  }
  .today {
    position: relative;
    color: #FFFFFF;
  }
  .today::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    display: block;
    width: 30px;
    height: 30px;
    background-color: #000000;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    content: '';
  }



  .header_box{
    display: flex;
    height: 3vh;
    line-height: 3vh;
  }
  .header_item{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    border-left: 1px solid var(--font_color1);
}
.header_item p{
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--font_color1);
}
.header_item P:hover{
  cursor: pointer;
}
.header_item:first-child{
      border-left: none;
  }


.date_inner span, .day{
  font-weight: 600;
}



.jealth_logo{
  height: 19vh;
  line-height: 19vh;
}
.jealth_logo > .col-12{
  height: 100%;
  padding: 0px 10px;
}
.join-header{
  height: 4vh;
  text-align: center;
  border-top: 1px solid var(--font_color1);
  border-bottom: 1px solid var(--font_color1);
  padding: 5px 0px;
  clear:both;
}
.join-header span{
  font-weight: 600;
  padding-right: 35px;
}
.join-header a{
  float: left;
  padding-left: 10px;
}
.join-wrap{
  padding: 1px 10px;
  border: 1px solid var(--font_color1);
  border-radius: 15px 15px 0px 0px;
  margin: 4vh 20px 0px;
  height: 64vh;
}
.item-list{
  padding: 20px 30px;
  height: 100%;
  overflow-y: auto;
}
.input-wrap{
  margin-bottom: 15px;
  font-weight: 600;
}
.join-btn-container > .row{
  padding: 0px 20px;
  height: 5vh;
}
.join-btn{
  margin: 0px auto 4vh;
  border: 1px solid var(--font_color1);
  border-radius: 0px 0px 15px 15px;
  font-weight: 900;
  width: 100%;
}
.join-btn:hover{
  cursor: pointer;
}

.center-btn-box{
  border-bottom: 2px solid var(--font_color1);
}
.workout-function-btn-wrap{
  text-align: center;
  padding: 7px 10px 5px 0px;
}

.function-btn{
  border:1px solid var(--font_color1);
  width: 100%;
  font-weight: 900;
  color: var(--font_color1);
  text-align: center;
  background-color: #FFFFFF;
}